<section class="section" style="min-height: calc(100vh - 400px)">
    <div class="container">

        <section class="section" style="padding-top: 0; padding-left: 0; padding-bottom: 30px">
            <div class="columns is-mobile">
                <div class="column">
                    <div class="has-text-left">
                        <h1 class="title">จัดการคอร์สเรียน</h1>
                    </div>
                </div>
                <div class="column">
                    <div class="has-text-right">
                        <a href="/courses-manage/create">
                            <button class="button is-primary"><i class="fas fa-plus"></i>&nbsp;Create Course</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <div class="table-container">
            <table class="table is-fullwidth is-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Course</th>
                        <th>Price</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each courses}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{title}}</td>
                        <td>{{price}}</td>
                        <td>
                            <a href="/courses-manage/edit/{{slug}}">
                                <button type="button" class="button is-info w-100">Edit</button>
                            </a>
                        </td>
                        <td><button class="button is-danger w-100"><i class="fas fa-trash"></i>&nbsp;Delete</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</section>