<section class="section" style="min-height: calc(100vh - 400px)">
    <div class="container">

        <span class="title">รายละเอียดคอร์ส <span class="has-text-primary">ML Kid</span></span>

        <div class="columns">
            <div class="column">

                <section class="section">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/VwVg9jCtqaU" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </section>

            </div>
            <div class="column">

                <section class="section">
                    <h1 class="title">คอร์สเรียน ML Kid</h1>
                    <h1 class="title">฿7,500.00</h1>
                    <h2 class="subtitle" style="font-weight: 300;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc ne statuam quidem dicturam pater
                        aiebat, si loqui posset. Duo Reges: constructio interrete. Negat esse eam, inquit, propter se
                        expetendam.
                    </h2>
                    <button class="button is-success" style="width: 100%">
                        <i class="fas fa-sign-in-alt"></i>&nbsp;
                        เข้าเรียนคอร์ส
                    </button>
                </section>

            </div>
        </div>

        <hr>

        <section>
            <h4 class="title is-4">คำอธิบายหลักสูตร</h4>
            <p style="font-weight: 300;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc ne statuam quidem dicturam
                pater
                aiebat, si loqui posset. Duo Reges: constructio interrete. Negat esse eam, inquit, propter
                se
                expetendam. Vitae autem degendae ratio maxime quidem illis placuit quieta. Quid igitur
                dubitamus
                in tota eius natura quaerere quid sit effectum? Claudii libidini, qui tum erat summo ne
                imperio,
                dederetur.
            </p>
        </section>

        <section style="margin-top: 30px">
            <div class="columns">
                <div class="column">
                    <h4 class="title is-4">รายละเอียดคอร์ส</h4>
                    <ul>
                        <li>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>- Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    </ul>
                </div>
                <div class="column">
                    <h4 class="title is-4">บทเรียนในคอร์สนี้</h4>
                    <ul>
                        <li>Unit 1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <ul style="padding-left: 30px">
                            <li>Unit 1.1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        </ul>
                        <li>Unit 2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <ul style="padding-left: 30px">
                            <li>Unit 2.1 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                            <li>Unit 2.2 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        </ul>
                        <li>Unit 3 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Unit 4 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Unit 5 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li>Unit 6 - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    </ul>
                </div>
            </div>
        </section>

    </div>
</section>