<section class="section" style="min-height: calc(100vh - 400px)">
    <div class="container">

        <div class="columns">
            <div class="column">
                <h1 class="title">ยินดีต้อนรับ</h1>
                <div class="content">
                    <p class="text-wrap">{{ _token }}<wbr></p>
                </div>
            </div>
        </div>

    </div>
</section>