body,
input,
button {
  font-family: "Prompt", sans-serif !important;
}

.fix-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0 15px 0 !important;
}

.text-wrap {
  white-space: normal;
  word-wrap: anywhere;
  height: auto;
}

table {
  width: 100%;
}

tr td {
  vertical-align: middle !important;
}

.w-100 {
  width: 100%;
}
